.container {
  padding: 20px;
  font-family: sans-serif;
}

.saatSelect {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  min-width: 120px; /* garanti için */
  box-sizing: border-box;
}

.programTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.programTable th,
.programTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.programTable select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.submitBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.autoFillBtn {
  margin-left: 10px;
  padding: 10px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right:10px;
}
.autoFillBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}