.container {
  max-width: 1000px;
  margin: auto;
  margin-top:80px;
  padding: 30px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.tableWrapper {
  max-height: 500px;
  overflow-y: auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}


.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.table th,
.table td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.icon {
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.icon:hover {
  color: #000;
}
.table tbody tr:hover {
  background-color: #f9f9f9;
}


.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


.title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.icon {
  cursor: pointer;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1001;
}

.drawer ul {
  list-style: none;
  padding: 0;
}

.drawer li {
  margin-bottom: 15px;
}

.drawer a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}